<!-- Show .sponsor-logo after shuffling the order with shuffle_sponsor.js -->
<div class="sponsor-logo" style="display: none;">
  <div class="well well-small sponsor-title title-venue">Venue Sponsor</div>
  <ul>
    <li>
        <a href="http://www.cyberagent.co.jp/">
            <img src="/assets/2014/sponsor/cyberagent.png"
            alt="CyberAgent">
        </a>
    </li>
  </ul>

  <div class="well well-small sponsor-title title-platinum">Platinum Sponsor</div>
  <ul>
    <li>
      <a href="http://typesafe.com/">
	<img src="/assets/2014/sponsor/typesafe.png"
	     alt="Typesafe">
      </a>
    </li>
    <li>
      <a href="http://info.dwango.co.jp/">
	<img src="/assets/2014/sponsor/dwango.png"
	     alt="dwango">
      </a>
    </li>
    <li>
      <a href="http://www.geishatokyo.com/">
	<img src="/assets/2014/sponsor/geisha_tokyo.png"
	     alt="Geisha Tokyo Entertainment, Inc.">
      </a>
    </li>
    <li>
      <a href="http://www.t2v.jp/">
	<img src="/assets/2014/sponsor/tech_to_value.png"
	     alt="Tech to Value">
      </a>
    </li>
    <li>
      <a href="http://www.mvrck.co.jp/">
	<img src="/assets/2014/sponsor/maverick.png"
	     alt="Maverick">
      </a>
    </li>
    <li>
      <a href="http://linecorp.com/">
	<img src="/assets/2014/sponsor/line.png"
	     alt="LINE">
      </a>
    </li>
    <li>
      <a href="http://cyber-z.co.jp/">
	<img src="/assets/2014/sponsor/cyberz.png"
	     alt="CyberZ">
      </a>
    </li>
    <li>
      <a href="http://www.tis.co.jp/">
        <img src="/assets/2014/sponsor/TIS.png"
        alt="TIS">
      </a>
    </li>
    <li>
      <a href="http://corp.gree.net/jp/ja/">
  <img src="/assets/2014/sponsor/gree.png"
       alt="Gree">
      </a>
    </li>
  </ul>
  <hr/>

  <div class="well well-small sponsor-title title-gold">Gold Sponsor</div>
  <ul>
    <li>
      <a href="http://www.bizreach.co.jp/">
	<img src="/assets/2014/sponsor/bizreach.png"
	     alt="BizReach">
      </a>
    </li>
    <li>
      <a href="http://www.furyu.jp/">
	<img src="/assets/2014/sponsor/furyu.png"
	     alt="FuRyu">
      </a>
    </li>
    <li>
      <a href="http://www.fringe81.com/">
	<img src="/assets/2014/sponsor/fringe81.png"
	     alt="Fringe81">
      </a>
    </li>
    <li>
      <a href="http://corporate.m3.com/">
	<img src="/assets/2014/sponsor/m3.png"
	     alt="M3">
      </a>
    </li>
    <li>
      <a href="http://voyagegroup.com/">
        <img src="/assets/2014/sponsor/voyage.png"
        alt="Voyage group">
      </a>
    </li>
  </ul>
  <hr/>

  <div class="well well-small sponsor-title title-silver">Silver Sponsor</div>
  <ul>
    <li>
      <a href="http://demand-side-science.jp/">
	<img src="/assets/2014/sponsor/demand_side_science.png"
	     alt="Demand Side Science">
      </a>
    </li>

    <li>
      <a href="http://www.chatwork.com/ja/">
	<img src="/assets/2014/sponsor/chatwork.png"
	     alt="ChatWork">
      </a>
    </li>

    <li>
      <a href="http://info.studyplus.jp/">
        <img src="/assets/2014/sponsor/studyplus.png"
        alt="Studyplus">
      </a>
    </li>

    <li>
      <a href="http://www.p-lucky.net/">
        <img src="/assets/2014/sponsor/plucky.png"
        alt="pLucky">
      </a>
    </li>

    <li>
      <a href="http://hatenacorp.jp/">
        <img src="/assets/2014/sponsor/hatena.png"
        alt="Hatena">
      </a>
    </li>
    <li>
      <a href="http://wp.sova.jp/">
        <img src="/assets/2014/sponsor/sova.png"
        alt="Sova">
      </a>
    </li>
    <li>
      <a href="http://www.izumobase.com/">
        <img src="/assets/2014/sponsor/izumobase.png"
        alt="IzumoBASE">
      </a>
    </li>
  </ul>
  <hr/>

  <div class="well well-small sponsor-title title-patron">Patron Sponsor</div>
  <ul>
    <li>
      <a href="http://www.co-meeting.com/">
	<img src="/assets/2014/sponsor/co-meeting.png"
	     alt="co-meeting">
      </a>
    </li>
    <li>
      <a href="http://www.doorkeeper.jp/">
	<img src="/assets/2014/sponsor/doorkeeper.png"
	     alt="Doorkeeper">
      </a>
    </li>
    <li>
      <a href="http://greative.jp/">
        <img src="/assets/2014/sponsor/greative.png"
        alt="Greative">
      </a>
    </li>
    <li>
      <a href="http://crowdworks.jp/">
        <img src="/assets/2014/sponsor/crowdworks.png"
        alt="CrowdWorks">
      </a>
    </li>
  </ul>

</div>
